<!-- templates/about.html (do not remove/change this comment) -->
{% extends "base.html" %} {% block title %}About{% endblock %} {% block topbar_text %}About{% endblock %} {% block content %}
<div class="container mt-4">
	<div class="container">
		<p style="text-align: justify">
			The manual curing process used in the current compost curing method is laborious, extensive, and inaccurate in detecting parameters. This design
			project focuses on the influence of administration of precise setting of parameters in setting a viable environment for compost curing. The study
			proposes fast compost curing in a controlled environment. A control system equipped with sensors, mechanical components, and an optimization
			algorithm for swift production of cured compost will be developed in this project. The system utilizes an optimization algorithm to control and
			optimize the parameters for a favorable compost environment. Additionally, utilizing sensors for data gathering of compost temperature, nitrogen,
			phosphorus, potassium, pH level, and moisture content for optimal curing parameter setting.
		</p>
	</div>
	<div class="container mt-4">
		<p style="text-align: justify">
			Design a system prototype that can: Monitor the parameters of the compost namely, pH level, moisture content, temperature, and NPK, with an accuracy
			at least 95%, Optimize the cured compost viability by controlling the pH level to stay within 5.5 to 8.0, moisture content from 40% to 60%, and
			temperature at 32 to 60 degrees Celsius with standard deviation normalized at a range from 0.47 “highly reliable” to 0.97 “reliable”. Decrease the
			curing time to five to six days. Test and evaluate the accuracy of the prototype.
		</p>
	</div>
</div>
{% endblock %}
